@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


  .app-width {
      width: 900px;
  }

  .app-card {
    border-radius: 10px;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  }

  .items{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px
  }